<template>
  <div id="userinfo">
    <el-button>修改密码</el-button>
    <el-card class="box-card">
      <el-row :gutter="20">
        <el-col :span="2">
          <el-button
              size="small"
              v-hasPermission="'password:edit'"
              type="success"
              icon="el-icon-circle-plus-outline"
              @click="editDialogVisible=true"
          >修改密码</el-button>
        </el-col>
      </el-row>
      <!-- 修改密码弹出框 -->
      <el-dialog
          title="修改密码"
          :visible.sync="editDialogVisible"
          width="50%"
          @close="closeEditDialog"
      >
        <span>
          <el-form
              :model="editPasswordForm"
              :rules="editPassword"
              ref="editPasswordFormRef"
              label-width="100px"
              class="demo-PasswordForm"
          >
            <el-form-item label="原密码" prop="oldpwd">
              <el-input v-model="editRuleForm.password"></el-input>
            </el-form-item>
            <el-form-item label="新密码" prop="newpwd">
              <el-input v-model="editRuleForm.password"></el-input>
            </el-form-item>
          </el-form>
        </span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editDialogVisible = false">取 消</el-button>
          <el-button
              type="primary"
              @click="update"
              :disabled="btnDisabled"
              :loading="btnLoading"
          >确 定</el-button>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
export default {
  data(){
    return {
      btnLoading: false,
      btnDisabled: false,
      editDialogVisible:false,
      editPasswordForm:{},
      editPassword:{
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 3, max: 12, message: "长度在 3 到 12 个字符", trigger: "blur" }
        ]
      }
    }
  },
  methods: {
    update: async function () {
      this.$refs.editPasswordFormRef.validate(async valid => {
        if (!valid) {
          return;
        } else {
          this.btnLoading = true;
          this.btnDisabled = true;
          const {data: res} = await this.$http.put(
              "/business/user/changepwd/" + this.editPasswordForm.id,
              this.editPasswordForm
          );
          if (res.success) {
            this.$message.success("密码修改成功");
            this.addRuleForm = {};
            await this.getDepartmentList();
          } else {
            this.$message.error("修改密码失败:" + res.data.errorMsg);
          }
          this.editPasswordForm = {};
          this.btnDisabled = false;
          this.btnLoading = false;
          this.editDialogVisible = false;
        }
      })

    }
  },
  created() {
    setTimeout(() => {
      this.loading = false;
    }, 500)
  }

};
</script>
