<template>

  <div id="userinfo">
        <!-- 用户信息表格 -->
        <el-card class="box-card">
<!--          <div slot="header" class="clearfix">-->
<!--            <span>用户信息</span>-->
<!--          </div>-->
            <el-table :data="tableInfo"  border style="width: 100%;" height="420">
              <el-table-column prop="username" label="用户账号" width="100"></el-table-column>
              <el-table-column prop="department" label="所属部门" width="250"></el-table-column>
              <el-table-column prop="roles" label="用户角色" width="250"></el-table-column>
              <el-table-column prop="sex" label="性别"  width="250"></el-table-column>
              <el-table-column prop="email" label="邮箱" width="250"></el-table-column>
              <el-table-column prop="mobile" label="电话"  width="250"></el-table-column>
              <el-table-column label="操作" width="252">
                <template slot-scope="scope">
                  <el-button   v-hasPermission="'userinfo:edit'" size="small" type="primary"  @click="edit(scope.row.username)">修改</el-button>
                  <el-button   v-hasPermission="'userinfo:editpwd'" size="small" type="danger"  @click="updatePassword(scope.row.username)">修改密码</el-button>
                </template>
              </el-table-column>
            </el-table>

          <!-- 修改对话框 -->
          <el-dialog title="修改用户" :visible.sync="editDialogVisible" width="50%" @close="editClose">
        <span>
          <el-form
              :model="editForm"
              :label-position="labelPosition"
              :rules="addFormRules"
              ref="editFormRef"
              label-width="80px"
          >
            <el-row>
              <el-col :span="10">
                <div class="grid-content bg-purple">
                  <el-form-item label="用户名" prop="username">
                    <el-input v-model="editForm.username" :disabled="true"></el-input>
                    <el-input
                        type="hidden"
                        v-model="editForm.id"
                        :disabled="true"
                        style="display:none;"
                    ></el-input>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="12">
                <div class="grid-content bg-purple-light">
                  <el-form-item label="性别" prop="sex">
                    <el-radio-group v-model="editForm.sex" :disabled="true">
                      <el-radio :label="0">男</el-radio>
                      <el-radio :label="1">女</el-radio>
                    </el-radio-group>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>

            <el-form-item label="邮箱" prop="email">
              <el-input v-model="editForm.email"></el-input>
            </el-form-item>
            <el-form-item label="联系方式" prop="mobile">
              <el-input v-model="editForm.mobile"></el-input>
            </el-form-item>
          </el-form>
        </span>

            <span slot="footer" class="dialog-footer">
          <el-button @click="editDialogVisible = false">取 消</el-button>
          <el-button
              type="primary"
              @click="updateUser"
              :loading="btnLoading"
              :disabled="btnDisabled"
          >确 定</el-button>
        </span>
          </el-dialog>

          <!-- 修改密码弹出框 -->
          <el-dialog  title="修改密码"  :visible.sync="editpwdDialogVisible"  width="50%" @close="closeEditDialog">
        <span>
          <el-form
              :model="editPasswordForm"
              :rules="editPassword"
              ref="editPasswordFormRef"
              label-width="100px"
              class="demo-PasswordForm"
          >
            <el-form-item label="旧密码" prop="password">
              <el-input  placeholder="请输入原密码"  v-model="editPasswordForm.password"></el-input>
            </el-form-item>
            <el-form-item label="新密码" prop="newPassword">
              <el-input  placeholder="请设置新密码" v-model="editPasswordForm.newPassword"></el-input>
            </el-form-item>
            <el-form-item label="新密码" prop="checkPassword">
              <el-input   placeholder="请确认新密码" v-model="editPasswordForm.checkPassword"></el-input>
            </el-form-item>
          </el-form>
        </span>
            <span slot="footer" class="dialog-footer">
          <el-button @click="editpwdDialogVisible = false">取 消</el-button>
          <el-button
              type="primary"
              @click="updatePwd"
              :disabled="btnDisabled"
          >确 定</el-button>
        </span>
          </el-dialog>

        </el-card>
  </div>
</template>
<script>

export default {
  data() {
    const checkEmail = (rule, value, callback) => {
      const mailReg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
      if (!value) {
        return callback(new Error("邮箱不能为空"));
      }
      setTimeout(() => {
        if (mailReg.test(value)) {
          callback();
        } else {
          callback(new Error("请输入正确的邮箱格式"));
        }
      }, 100);
    };
    const checkPhone = (rule, value, callback) => {
      const phoneReg = /^1[34578]\d{9}$$/;
      if (!value) {
        return callback(new Error("电话号码不能为空"));
      }
      setTimeout(() => {
        if (!Number.isInteger(+value)) {
          callback(new Error("请输入数字值"));
        } else {
          if (phoneReg.test(value)) {
            callback();
          } else {
            callback(new Error("电话号码格式不正确"));
          }
        }
      }, 100);
    };
    //此处即表单发送之前验证
    let validatePass  = (rule, value, callback) => {
      if (value === this.editPasswordForm.password) {
        callback(new Error('新密码不能与原密码相同!'))
      } else {
        callback()
      }
    }
    let checkpass = (rule, value, callback) => {
      if (value !== this.editPasswordForm.newPassword) {
        callback(new Error('与新密码不一致!'))
      } else {
        callback()
      }
    }
    return {
      userName:"",
      btnLoading: false,
      btnDisabled: false,
      loading: true,
      userInfo: {},
      editForm: {}, //更新表单
      tableInfo: [],
      editDialogVisible: false,
      editpwdDialogVisible: false,
      labelPosition:"right",//lable对齐方式
      editPasswordForm: {
        password: "",
        newPassword: "",
        checkPassword: ""
      },
      editPassword:{
        password: [
          { required: true, message: "请输入原密码", trigger: "blur" },
        ],
        newPassword: [
          { required: true, message: "请输入新密码", trigger: "blur" },
          { min: 3, max: 12, message: "长度在 3 到 12 个字符", trigger: "blur" },
          { validator: validatePass, trigger: "blur" }
        ],
        checkPassword: [
          { required: true, message: "不能为空", trigger: "blur" },
          { validator: checkpass, trigger: "blur" }
        ]
      },

      addFormRules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 2, max: 10, message: "长度在 2 到 10 个字符", trigger: "blur" }
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 3, max: 12, message: "长度在 3 到 12 个字符", trigger: "blur" }
        ],
        departmentId: [
          { required: true, message: "请选择部门", trigger: "blur" }
        ],
        sex: [{ required: true, message: "请选择性别", trigger: "blur" }],
        email: [{ required: true, validator: checkEmail, trigger: "blur" }],
        mobile: [
          {
            required: true,
            message: "请输入联系方式",
            validator: checkPhone,
            trigger: "blur"
          }
        ]
      }, //添加表单验证规则
      roles: [], //角色
    };
  },
  methods: {
    /**
     * 修改用户信息,加载用户信息
     */
    async edit(username) {
      const {data: res} = await this.$http.get("/business/users/editbyname/" + username);
      if (res.success) {
        this.editForm = res.data;
        this.editDialogVisible = true;

      } else {
        return this.$message.error("用户信息编辑失败:" + res.data.errorMsg);
      }
    },

    /**
     * 更新用户
     */
    async updateUser() {
      this.$refs.editFormRef.validate(async valid => {
        if (!valid) {
          return;
        } else {
          this.btnLoading = true;
          this.btnDisabled = true;
          const {data: res} = await this.$http.put(
              "/business/users/update/" + this.editForm.id,
              this.editForm
          );
          if (res.success) {
            this.$notify({
              title: "操作成功",
              message: "用户基本信息已更新",
              type: "success"
            });
            this.editForm = {};
          } else {
            this.$message.error("用户信息更新失败:" + res.data.errorMsg);
          }
          this.editDialogVisible = false;
          this.btnLoading = false;
          this.btnDisabled = false;
        }
      });
    },

    async updatePwd () {
      this.$refs.editPasswordFormRef.validate(async valid => {
        if (!valid) {
          return;
        } else {
          console.log('haha',this.userName);
          const {data: res1} = await this.$http.get("/business/users/checkpwd/" + this.userName + "/" + this.editPasswordForm.password);
          if (res1.success) {
            this.btnLoading = true;
            this.btnDisabled = true;
            const {data: res} = await this.$http.put(
                "/business/users/changepwd/" + this.userName + "/" +this.editPasswordForm.newPassword
            );
            if (res.success) {
              this.$message.success("密码修改成功");
            } else {
              this.$message.error("修改密码失败:" + res.data.errorMsg);
            }
            this.editPasswordForm = {};
            this.btnDisabled = false;
            this.btnLoading = false;
            this.editpwdDialogVisible = false;
          }else{
            this.$message.error("原密码错误！！");
          }
        }
      })
    },

   async updatePassword (username) {
     this.editpwdDialogVisible = true;
    this.userName =  username;
     },


    /**
     * 关闭编辑弹出框
     */
    editClose() {
      this.$refs.editFormRef.clearValidate();
      this.editForm = {};
    },
    closeEditDialog(){
      this.editPasswordFormRef.closeValidate();
      this.editPasswordForm = {};
    }
  },

  created() {
    this.userInfo = this.$store.state.userInfo;
    const roles = this.userInfo.isAdmin ? "超级管理员" : this.userInfo.roles;
    const sex = this.userInfo.sex===0 ? "男" : "女";
    this.tableInfo.push({
      username: this.userInfo.username,
      department: this.userInfo.department,
      sex: sex,
      email: this.userInfo.email,
      mobile: this.userInfo.mobile,
      roles: roles
    });
  }


};
</script>

<style scoped>

</style>