<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
html,body{margin: 0px;padding: 0px;width: 100%;height: 100%;}
#app{width: 100%;height: 100%!important;margin: 0px;padding: 0px;position: absolute;background-color: #1f2d3d;
}
#nprogress .bar {
  background: #22324b !important

}
</style>