<template>
  <el-card style="width: 100%;height: 95%;">
    <el-alert
        show-icon
        title="对不起,该页面找不到了~"
        type="error">
    </el-alert>
    <h1 style="font-size: 200px;margin: 150px auto;text-align: center ">404</h1>
  </el-card>
</template>